# Python dependencies
imapclient==3.0.1
pyzmail36==1.1.1
python-dotenv==1.0.0
ollama==0.1.7
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
google-api-python-client==2.108.0
PyPDF2==3.0.1
python-docx==1.1.0
chardet==5.2.0
gitpython==3.1.40
pyyaml==6.0.1
